<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Redirection</title>
    </head>
    <body>
        <h1>Edit Link</h1>
        <form>
            <input
                class="field"
                id="input-title"
                type="text"
                name="title"
                placeholder="Title"
                value="<%=body.title%>"
                required
            />
            <input
                class="field"
                id="input-desc"
                type="text"
                name="description"
                placeholder="Description"
                value="<%=body.description%>"
                required
            />
            <input
                class="field"
                id="input-url"
                type="text"
                name="url"
                placeholder="Url"
                value="<%=body.url%>"
                required
            />
            <input
                type="text"
                name="id"
                id="input-id"
                value="<%=body._id%>"
                hidden
            />
            <button type="button" onclick="editLink('<%=body._id%>')">
                Editar
            </button>
        </form>

        <%if (error) {%>
        <h3><%=error.message%></h3>
        <%}%>
        <script>
            const editLink = async (id) => {
                const inputId = document.getElementById("input-id");
                const inputTitle = document.getElementById("input-title");
                const inputDesc = document.getElementById("input-desc");
                const inputUrl = document.getElementById("input-url");

                const link = new URLSearchParams({
                    id: inputId.value,
                    title: inputTitle.value,
                    description: inputDesc.value,
                    url: inputUrl.value,
                });

                const response = await fetch("/edit", {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                    body: link.toString(),
                });

                const data = await response.json();

                window.location.href = data.redirect;
            };
        </script>
    </body>
</html>
